<div class="vis-ad-w-header VA005-report-header">
    <div class="vis-ad-w-name"><h4 class="VA005-report-tittle"></h4></div>
    @*<button class="VA005-btn-close" id="@("btnClose_" + ViewBag.WindowNumber)"></button>*@
    <div>
        <h5 class="VA005-effect-on" style="display: none;"></h5>
        <h5 class="VA005-effect-off" style="display: none;"></h5>
    </div>
    <button class="VA005-btn-Multiple" id="@("btnMultiple_" + ViewBag.WindowNumber)"><i class="fa fa-cubes"></i></button>
    <button class="VA005-btn-Delete" id="@("btnUndo_" + ViewBag.WindowNumber)">
        <i class="vis vis-ignore"></i>
    </button>
    <button class="VA005-btn-Delete" id="@("btnSave_" + ViewBag.WindowNumber)">
        <i class="vis vis-save"></i>
    </button>
    <button class="VA005-btn-Delete" id="@("btnDelete_" + ViewBag.WindowNumber)" style="margin-right: 10px;">
        <i class="vis vis-delete"></i>
    </button>
    <div class="vis-ad-w-close" id="@("btnClose_" + ViewBag.WindowNumber)">
        <i class="vis vis-cross"></i>
    </div>
    <div class="vis-ad-w-header-border"></div>
</div>
<!-- end of report-header -->
<div class="VA005-content-wrap">
    <div id="@("divLeft_" + ViewBag.WindowNumber)" class="VA005-left-wrap">
        <div class="VA005-left-top">
            <div class="VA005-multidelete">
                <input id="@("chkMultiple_" + ViewBag.WindowNumber)" type="checkbox" />
            </div>
            <div class="VA005-topicons">
                @*<span>
                    <img src="Areas/VA005/Images/multi-sel1.png" id="@("btnMultiple_" + ViewBag.WindowNumber)" alt="Multiple Select">
                </span>*@
                @*<span>
                    <img src="Areas/VA005/Images/add.png" id="@("VA005_AddCategory_" + ViewBag.WindowNumber)" alt="Add Category"></span>
                <span>
                    <img src="Areas/VA005/Images/multi-del.png" id="@("btnDone_" + ViewBag.WindowNumber)" alt="Multiple Delete"></span>*@
            </div>
        </div>

        <ul class="VA005-pro-cat-wrap" id="@("VA005_ProductCategory_" + ViewBag.WindowNumber)">
            <li class="VA005-pro-cat" procatid="0">
                <div class="VA005-cat-caption">
                    <p>
                        <i class="vis vis-plus"></i>
                        <label>Add New</label>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div id="@("divRight_" + ViewBag.WindowNumber)" class="VA005-form-wrap vis-formouterwrpdiv">
        <div class="VA005-form-top">
            <div class="VA005-form-top-fields">
                <h4></h4>
                <div class="VA005-form-data-top">
                    <input type="text" id="@("txtName_" + ViewBag.WindowNumber)" placeholder="Product Category">
                    <div class="VA005-Zoom">
                        <button class="VA005-btn-zoom" id="@("btnZoom_" + ViewBag.WindowNumber)"><i class="vis vis-find"></i></button>
                    </div>
                </div>
                <!-- end of form-data-top -->
                <!-- end of form-data-top -->

            </div>
            <!-- end of form-top-fields -->

            <div class="VA005-image-wrap">
                <label class="VA005-editIcon vis vis-pencil" for="@("fileUpload_" + ViewBag.WindowNumber)" id="@("lblfileUpload_" + ViewBag.WindowNumber)"></label>
                <input id="@("fileUpload_" + ViewBag.WindowNumber)" style="display: none;" type="file" accept="image/*" />
                <div class="VA005-image-area">
                    @*<i class="vis vis-image"></i>*@
                    <img class="vis vis-image" src="" id="@("imgUsrImage_" + ViewBag.WindowNumber)" alt="">
                </div>
            </div>

            <!-- end of image-wrap -->
            <div class="VA005-form-data-other">
                <textarea id="@("txtDesc_" + ViewBag.WindowNumber)" placeholder="Description"></textarea>
            </div>
        </div>
        <!-- end of form-top -->
        <div class="VA005-form-fullFields">
            <div class="VA005-form-data">
                <div class="input-group vis-input-wrap">
                    <div class="vis-control-wrap">
                        <input type="text" id="@("txtValue_" + ViewBag.WindowNumber)" placeholder=" " data-placeholder="">
                        <label id="@("VA005_Value_" + ViewBag.WindowNumber)"></label>
                    </div>
                </div>
            </div>
            <!-- end of form-data -->
            <div class="VA005-form-data">
                <div class="input-group vis-input-wrap">
                    <div class="vis-control-wrap">
                        <select data-val="true" class="vis-ev-col-mandatory" id="@("cmbProductType_" + ViewBag.WindowNumber)" style="display: inline-block;">
                        </select>
                        <label id="@("VA005_ProductType_" + ViewBag.WindowNumber)"></label>
                    </div>
                </div>
            </div>
            <div class="VA005-form-data">
                <div class="input-group vis-input-wrap">
                    <div class="vis-control-wrap">
                        <select data-val="true" id="@("cmbAttributeSet_" + ViewBag.WindowNumber)" data-hasbtn=" ">
                            <option selected="selected" value="0"></option>
                        </select>
                        <label id="@("VA005_Attribute_" + ViewBag.WindowNumber)"></label>
                    </div>
                    <div class="input-group-append">
                        <button class="input-group-text VA005-leftpanelcatsearchbtn" id="@("btnAttributeSet_" + ViewBag.WindowNumber)"><i class="fa fa-ellipsis-v"></i></button>
                    </div>
                </div>
            </div>
                    <!-- end of form-dataIcon -->

            <div class="VA005-form-data">
                <div class="input-group vis-input-wrap">
                    <div class="vis-control-wrap">
                        <select data-val="true" id="@("cmbMatPolicy_" + ViewBag.WindowNumber)" style="display: inline-block;">
                        </select>
                        <label id="@("VA005_MatPol_" + ViewBag.WindowNumber)"></label>
                    </div>
                </div>
            </div>
                    <!-- end of form-data -->

            <div class="VA005-form-data">
                <div class="input-group vis-input-wrap">
                    <div class="vis-control-wrap">
                        <select data-val="true" id="@("cmbTaxCategory_" + ViewBag.WindowNumber)" data-hasbtn=" ">
                            <option selected="selected" value="0"></option>
                        </select>
                        <label id="@("VA005_TaxCat_" + ViewBag.WindowNumber)"></label>
                    </div>
                    <div class="input-group-append">
                        <button class="input-group-text VA005-leftpanelcatsearchbtn" id="@("btnTaxCategory_" + ViewBag.WindowNumber)"><i class="fa fa-ellipsis-v"></i></button>
                    </div>
                </div>
            </div>
                    <!-- end of form-dataIcon -->

            <div class="VA005-form-data">
                <div class="input-group vis-input-wrap">
                    <div class="vis-control-wrap">
                        <select data-val="true" id="@("cmbAssetGroup_" + ViewBag.WindowNumber)" data-hasbtn=" ">
                            <option selected="selected" value="0"></option>
                        </select>
                        <label id="@("VA005_AstGrp_" + ViewBag.WindowNumber)"></label>
                    </div>
                    <div class="input-group-append">
                        <button class="input-group-text VA005-leftpanelcatsearchbtn" id="@("btnAssetGroup_" + ViewBag.WindowNumber)"><i class="fa fa-ellipsis-v"></i></button>
                    </div>
                </div>
            </div>
                    <!-- end of form-dataIcon -->
                    <div class="VA005-con-checkbox">
                        <input type="checkbox" id="@("IsConsumable_" + ViewBag.WindowNumber)">
                        <label id="@("lblConsumable_" + ViewBag.WindowNumber)"></label>
                    </div>
                    @*<div class="VA005-btns">
                <span id="@("btnSave_" + ViewBag.WindowNumber)">Save</span>
                <span id="@("btnDelete_" + ViewBag.WindowNumber)">Delete</span>
            </div>*@
                </div>
                <!-- end of form-fullFields -->
            </div>
    <!-- end of form-wrap -->


</div>
<!-- end of content-wrap -->

        <ul id="@("VA005_zoomWindow_" + ViewBag.WindowNumber)" class="vis-apanel-rb-ul">
            <li data-action="zoom" style="opacity: 1">
                <i class="vis vis-find" id="@("btnZoomWindow_" + ViewBag.WindowNumber)" data-action="zoom"></i>
            </li>           
            <li data-action="refresh">
                <i class="vis vis-refresh" id="@("btnRefresh_" + ViewBag.WindowNumber)" data-action="refresh"></i>
            </li>
        </ul>